
header {
    background-color: #1e212b;
    margin-top: -22px;
    margin-left: -17px;
    margin-right: -18px;
    margin-bottom: -0px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
}

body {
    font-size: 18px;
    background-color: #6a7b76;
    color: #E0F0F5;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: #FFDD4A;
    text-decoration: none;
}

a:hover {
    color: #FE9000;
}

main {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    text-align: center;
}

img {
    width: 100%;
}

figure {
    text-align: center;
    font-style: italic;
}

@media only screen and (max-width: 700px) {
    main { 
        max-width: 1200px; 
        width: 100%;
        height: 100%;
        margin: 0% auto;
    }
}

@media only screen and (max-width: 500px) {
    main { 
        width: 90%; 
        height: 100%;
        margin: 0% auto;
    }
}

@media only screen and (max-width: 300px) {
    main { 
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
}