<nav>
    <a href="https://webpages.charlotte.edu/rchen17/itis3135">Charlotte.edu</a>
    ♫
    <a href="https://github.com/Ryan-Chen-GitHub/Ryan-Chen-GitHub.github.io">GitHub</a>
    ♫
    <a href="https://ryan-chen-github.github.io/itis3135/">GitHub.io</a>
    ♫
    <a href="https://www.freecodecamp.org/RyanChen">freeCodeCamp</a>
    ♫
    <a href="https://www.codecademy.com/profiles/RyanChenUNCC">Codecademy</a>
    ♫
    <a href="https://www.linkedin.com/in/ryan-chen-9bb774250/">LinkedIn</a>
</nav>
<p>Page Built by <a href="ryanenterprise.online/">Ryan Enterprise</a> &copy;2023</p>

<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>
<script>
    document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>