<h1> Ryan Chen's Rare Capybara || ITIS 3135 </h1>
<h2><i> Bringing Capybaras Around the World!</i></h2>
<nav>
    <a href="./">Home</a>
    ♫
    <a href="introduction.html">Introduction</a>
    ♫
    <a href="contract.html">Contract</a>
    ♫
    <a href="tables.html">Tables</a>
    ♫
    <a href="forms.html">Forms</a>
    ♫
    <a href="website_evaluations.html">Evaluations</a>
    ♫
    <a href="firstscripts.html">First Scripts</a>
    ♫
    <a href="calculator_try.html">Calculator</a>
    ♫
    <a href="hobby/index.html">Hobby</a>
    ♫
    <a href="project_overview.html">Project Overview</a>
</nav>
<br>
<nav>
    <a href="about.html">About</a>
    ♫
    <a href="byo_intro.html">Intro</a>
</nav>
<br>
<nav>
    <a href="stuff/di%20VON%20bR!SEN.htm">Crappy</a>
</nav>
<script src="scripts/HTMLInclude.js"></script>
